* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 25px;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* color: tomato; */
  color: black;
  /* background-color: burlywood; */
  /* background: url(./img/cool-background.png); */
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
