[submodule "uebungsaufgaben/playground"]
	path = uebungsaufgaben/playground
	url = https://github.com/m3fischer/01-Grundlagen-HTML-CSS-und-JS
[submodule "Playboy"]
	path = Playboy
	url = https://github.com/m3fischer/01-Grundlagen-HTML-CSS-und-JS
