body {
  font-family: sans-serif;
  text-align: center;
  background-image: url(./img/1671088621400.png);
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

h1 {
  color: #34495e;
}

#game {
  display: inline-block;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

img.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%; */
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: 0 auto;
  border: 2px solid #34495e;
}

.square {
  width: 70px;
  height: 70px;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #34495e;
}

#reset {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#message {
  margin: 20px 0;
  font-size: 20px;
  color: #c0392b;
}
